* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header_logo {
  background: indianred;
  height: 100px;
  width: 150px;
  text-align: center;
  padding: 15px;
}

.header_title {
  font-size: 20px;
  margin-bottom: 6px;
}

.header_adress {
  align-self: center;
  width: 220px;
}

.tel {
  margin-bottom: 5px;

}

h1 {
  width: 100%;
  text-align: center;
  background: goldenrod;
  padding: 10px 0;
}

.container-main {
  margin: 0 70px;
}

.some-text {
  margin: 50px;
}

.car {
  height: 200px;
}

article {
  border: 1px solid black;
  padding: 10px;

  margin-bottom: 50px;
}

.article_title {
  font-weight: 600;

}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.super {
  font-weight: 600;
  margin-bottom: 20px;
}